Options -MultiViews
RewriteEngine On

# Proxy for FastAPI docs
RewriteRule ^docs$ http://backend:8000/docs [P,L]
RewriteRule ^openapi.json$ http://backend:8000/openapi.json [P,L]

# Admin page
RewriteRule ^admin/?$ admin.html [L]

# Make sure index.html is served for root path
DirectoryIndex index.html

# Default route for SPA
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]